<span style="font-weight:bold;">################################################<br>
##### Device Name: {{device.name}}<br>
##### Device IP: {{device.connectionInformation.ip}}<br>
################################################<br></span>
